@page
@model RaymiMusic.MVC.Pages.Usuarios.IndexModel

<h1>Usuarios</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Nuevo Usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Correo</th>
            <th>Rol</th>
            <th>Plan</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model.Usuarios)
        {
            <tr>
                <td>@u.Correo</td>
                <td>@u.Rol</td>
                <td>@u.PlanSuscripcion?.Nombre</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@u.Id">Editar</a> |
                    <a asp-page="Delete" asp-route-id="@u.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
